body {
    background-color: #b3cce6;
}

td {
    text-align:center;
}

ul {
    list-style-type: square;
}

p {
    margin: 1em;
}

h3 {
    text-decoration: underline;
}

p:hover {
    color: #003300;
}

a:link {
    color: #002080;
}

a:visited {
    color: #798686;
}

a:hover {
    color: #00ff00;
}

a:active {
    color: #004d00;
}

.latin-list {
    font-family: "Lower Latin";
}

.cmll {
    color: blue;
}

.coll {
    color: green;
}

#header_img {
    width:3em;
}